:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #ec5e3a;
  --primary-hover: #eb4b23;
  --red: #e30a0a;
  --white: #fff;
  --black: #000000;
  --light-black: #212121;
  --grey-text: #6b6b6b;
  --light-grey: #707070;
  --light-footer-grey: #d1d5dc;
}

.primary_color_hover:hover {
  color: var(--primary-hover);
}

button {
  cursor: pointer;
}
body {
  background-color: var(--black);
}
